.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
  .cart-icon-container:hover,
  .nav-link:hover,
  .logo:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }
}
.bg-dropdown-menu {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  animation: dropdownAnimation 0.5s forwards;
  z-index: 4;
  overflow: hidden;
}
@keyframes dropdownAnimation {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.3);
  }
}
